<div 
  class="secret" 
  [class.secret--is-saving]="secretIsUpdating"
  [class.secret--is-saved]="secretIsUpdated">
  <form #updateSecret="ngForm"
    (ngSubmit)="onSubmit(updateSecret.value)"
  >
    <div class="secret__details">
      <div class="form-field secret__field">
        <label for="nameInput" class="form-field__label secret__label">
          Name
        </label>
        <input type="text"
          tabindex="1"
          id="nameInput"
          name="updateName"
          required
          maxlength="200"
          class="form-field__input secret__input form-field--dirty-feedback"
          [(ngModel)]="secret.name">
      </div>
      
      <div class="form-field secret__field secret__field--last">
        <label for="usernameInput" class="form-field__label secret__label">
          Username
        </label>
        <input type="text"
          tabindex="3"
          id="usernameInput"
          name="updateUsername"
          class="form-field__input secret__input form-field--dirty-feedback"
          [class.form-field__input--one-action]="!isNew"
          [(ngModel)]="visibleData.username">
          <div class="form-field__actions" *ngIf="!isNew">
            <button type="button"
              ngxClipboard [cbContent]="secret.visible_data.username"
              class="form-field__action">
              <div class="button__icon button__icon--no-text" [inlineSVG]="'../assets/svg/clipboard.svg'"></div>
            </button>
          </div>
      </div>

      <div class="form-field secret__field">
        <label for="urlInput" class="form-field__label secret__label">
          URL
        </label>
        <input type="text"
          tabindex="2"
          id="urlInput"
          name="updateUrl"
          class="form-field__input secret__input form-field--dirty-feedback"
          [class.form-field__input--one-action]="!isNew"
          [(ngModel)]="visibleData.url">
        <div class="form-field__actions" *ngIf="!isNew">
          <button type="button"
            (click)="goToUrl()"
            class="form-field__action">
            <div class="button__icon button__icon--no-text" [inlineSVG]="'../assets/svg/external-link.svg'"></div>
          </button>
        </div>
      </div>

      <div class="form-field secret__field secret__field--last">
        <label for="passwordInput" class="form-field__label secret__label">
          Password
        </label>
        <div *ngIf="isNew">
          <input
            tabindex="4"
            id="passwordInput"
            name="updatePassword"
            autocomplete="off"
            #realPasswordInput
            [type]="displayType"
            id="passwordInput"
            name="updatePassword"
            class="form-field__input secret__input form-field--dirty-feedback  form-field--dirty-feedback-next form-field__input--two-actions"
            [(ngModel)]="plaintextSecrets.password">
        </div>
        <div *ngIf="!isNew">
          <input
            tabindex="4"
            id="passwordInput"
            name="updatePassword"
            autocomplete="off"
            [class.u-invisible]="passwordIsMasked"
            #realPasswordInput
            [type]="displayType"
            id="passwordInput"
            name="updatePassword"
            class="form-field__input secret__input form-field--dirty-feedback  form-field--dirty-feedback-next form-field__input--two-actions"
            [(ngModel)]="plaintextSecrets.password"
            (blur)="toggleViewSecret()">
          <input
            tabindex="4"
            [type]="displayType"
            [class.u-invisible]="!passwordIsMasked"
            class="form-field__input secret__input secret__input--mask form-field--dirty-feedback form-field__input--two-actions"
            value="{{ plaintextSecrets.password ? 'Click to reveal or edit' : '' }}"
            (focus)="clickMaskedSecret(realPasswordInput)">
          <div class="form-field__actions">
            <button type="button"
              (click)="toggleViewSecret()"
              class="form-field__action">
              <div class="button__icon button__icon--no-text" [inlineSVG]="passwordIsMasked ? '../assets/svg/eye.svg' : '../assets/svg/eye-slash.svg'"></div>
            </button>
            <button type="button"
            (click)="copySecret()"
              class="form-field__action">
              <div class="button__icon button__icon--no-text" [inlineSVG]="'../assets/svg/clipboard.svg'"></div>
            </button>
          </div>
        </div>
      </div>

      <div class="form-field secret__field">
        <label for="groupNameInput" class="form-field__label secret__label">
          Group(s)
        </label>
        <ng-select
          class="secret__ng-select"
          id="groupsInput"
          name="updateGroups"
          [options]="groupOptions"
          multiple="true"
          [(ngModel)]="selectedGroups"
          [ngStyle]="{'background-color': 'white'}"> 
        </ng-select>
      </div>

      <div class="form-field secret__field secret__field--full">
        <a *ngIf="!showNotes" for="notes" class="form-field__label secret__add-link" (click)="toggleShowNotes()">
          Add Notes
        </a>
        <label *ngIf="showNotes" for="notes" class="form-field__label secret__label">
          Notes
        </label>
        <textarea
          *ngIf="showNotes"
          tabindex="2"
          id="notes"
          name="notes"
          class="form-field__textarea secret__textarea form-field--dirty-feedback"
          [(ngModel)]="plaintextSecrets.notes"></textarea>
      </div>

      <div class="secret__buttons">
        <button
          *ngIf="!isNew"
          class="button button--text button--text-danger"
          type="button"
          (click)="onDeleteSecret()">
          Delete
        </button>
        <button
          *ngIf="isNew"
          class="button button--text button--text-danger"
          type="button"
          (click)="hideAddSecretForm.emit()">
          Cancel
        </button>
        <button
          class="button button--primary"
          [class.button--is-saving]="secretIsUpdating"
          [disabled]="secretIsUpdating"
          type="submit">
          <span *ngIf="isNew">Save New Password</span>
          <span *ngIf="!isNew">Save Changes</span>
        </button>
      </div>
    </div>
  </form>
</div>
