<div class="l-container-narrow u-margin-tb-50">
  <h2 class="heading-main">Confirm Email</h2>
  <p class="text--large">
    To complete the registration process, check your email. We sent you a message that has a link and a code. Click on the link, or enter the code below and press "Confirm".
  </p>

  <form #confirmForm="ngForm"
    (ngSubmit)="onSubmit(confirmForm.value)"
    class="u-margin-b-50">

    <div class="form-field form-field--large">
      <label for="code" class="form-field__label">Code</label>
      <input type="text"
        id="code"
        name="code"
        class="form-field__input"
        [class.form-field__input--invalid]="errorMessage"
        [ngModel]="code">
    </div>

    <ul *ngIf="errorMessage" class="form-field__error-list">
      <li class="form-field__error">
        {{ errorMessage }}
      </li>
    </ul>

    <div class="auth-form__actions">
      <button
        class="button button--large button--green"
        [disabled]="hasStarted"
        type="submit">
        Confirm
      </button>

      <progress-indicator
        [inProgress]="hasStarted"
        inProgressText="Confirming email"
        [completed]="hasFinished"
        completedText="Confirmed email"></progress-indicator>
    </div>
  </form>

  <p class="text--large">
    Already confirmed? <a class="text-link text-link--caret" [routerLink]=" ['/login'] ">Log in</a>
  </p>

</div>
