.form-field {
  position: relative;
  margin-bottom: 20px;

  &__label {
    display: block;
    margin-bottom: 5px;
    color: $color-thunder;
    font-size: 0.8em;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    padding: 8px;
    background-color: $color-white;
    border: 1px solid $color-tiara; 
    // border-bottom-color: ;
    color: $color-thunder;
    box-shadow: inset 0 0 0 0 $color-onahau;
    transition: box-shadow 0.2s;

    &--one-action {
      padding-right: 38px;

      &:focus {
        padding-right: 45px;
      }
    }

    &--two-actions {
      padding-right: 70px;

      &:focus {
        padding-right: 77px;
      }
    }
  }

  &__textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    background-color: $color-white;
    border: 1px solid $color-tiara;
    color: $color-thunder;
    box-shadow: inset 0 0 0 0 $color-onahau;
    transition: box-shadow 0.2s margin 0.2s;
  }

  &__input:focus,
  &__textarea:focus,
  &--dirty-feedback.ng-dirty,
  &--dirty-feedback-next.ng-dirty + .form-field__input {
    // width: calc(100% + 14px);
    // margin-left: -7px;
    // margin-right: -7px;
    // padding-left: 7px;
    background-color: $color-white;
    box-shadow: inset 0 -4px 0 0 $color-onahau;
    outline: 0;
    border: 1px solid $color-botticelli;
    border-bottom-color: $color-thunder;
  }

  &__input--invalid {
    border-bottom-color: $color-brick-red;
    box-shadow: inset 0 -1px 0 0 $color-brick-red;

    &:focus {
      border: 1px solid $color-wafer;
      border-bottom-color: $color-brick-red;
      box-shadow: inset 0 -4px 0 0 $color-just-right;
    }
   }

  &--dirty-feedback {
    &.ng-dirty:not(:focus),
    &.ng-dirty:not(:focus) + .form-field__input {
      box-shadow: inset 0 -3px 0 0 $color-deep-cerulean;
      border-bottom-color: $color-deep-cerulean;
    }
  }

  &--large {
    .form-field__label {
      font-size: 1.2em;
    }

    .form-field__input {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 1.25em;

      &:focus {
        box-shadow: inset 0 -6px 0 0 $color-onahau;
      }

      &--invalid {
        box-shadow: inset 0 -2px 0 0 $color-brick-red;

        &:focus {
          box-shadow: inset 0 -6px 0 0 $color-just-right;
        }
      }
    }

    .form-field__action {
      width: 32px;
      height: 48px;
    }
  }

  &__select {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $color-thunder;

    &__field {
      background-color: transparent;
      border: 0;
      padding: 10px 35px 10px 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &:after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      transform: scale(1, 0.67);
      color: $color-thunder;
      z-index: -1;
    }
  }

  &__note {
    margin-top: 10px;
    color: $color-thunder;
    line-height: 1.4;
  }

  &__checkbox {
    color: $color-thunder;
    cursor: pointer;
    user-select: none;

    &:hover {
      .form-field__checkbox__input + .form-field__checkbox__check {
        border-color: #C0F0FF;
        box-shadow: inset 0 0 0 0 #C0F0FF, 0 0 0 2px #C0F0FF;
      }
      .form-field__checkbox__input:checked + .form-field__checkbox__check,
      .form-field__checkbox__check--checked {
        svg {
          transform: scale(1.1);
        }
      }
    }

    &__input {
      display: none;
    }

    &__input:checked + .form-field__checkbox__check,
    .form-field__checkbox__check--checked {
      background-color: $color-white;
      border-color: $color-deep-cerulean;
      box-shadow: inset 0 0 0 0 $color-deep-cerulean, 
      0 0 0 1px $color-deep-cerulean;
      
      svg {
        fill: $color-thunder;
        transform: scale(1);
      }
    }

    &__check {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border: 2px solid #BED2D2;
      box-shadow: inset 0 0 0 0 $color-deep-cerulean;
      transition: border-color 0.2s box-shadow 0.2s;

      &--inline {
        top: 4px;
        margin-right: 4px;
      }

      &--small {
        width: 16px;
        height: 16px;
        border-width: 1px;
      }
      
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: $color-white;
        transform: scale(0);
        transition: transform 0.2s cubic-bezier(0, 0.74, 0.4, 1.43), fill 0.3s;
      }
    }
  }


  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__action {
    background-color: transparent;
    border: 0;
    width: 32px;
    height: 36px;
  }

  &__error-list {
    margin: -7px 0 30px;
    padding: 0;
    list-style: none;
  }
  &__error {
    color: $color-brick-red;
  }
}
