@import '~susy/sass/susy';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import './breakpoints';

.l-container {
  @include container(960px);
}

.l-container-narrow {
  $container-width: 480px;
  $padding-width: 15px;
  
  @include container($container-width);

  @include breakpoint(0 ($container-width + $padding-width * 2)) {
    padding-left: $padding-width;
    padding-right: $padding-width;
  }
}
