a {
  text-decoration: none;
  color: inherit;
}

.text-link {
  color: $color-deep-cerulean;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 1px 0 0 $color-deep-cerulean;
  transition: color 0.2s, box-shadow 0.2s;

  &:hover {
    color: darken($color-deep-cerulean, 10%);
    box-shadow: 0 1px 0 0 darken($color-deep-cerulean, 10%);
  }

  &--large {
    box-shadow: 0 2px 0 0 $color-deep-cerulean;

    &:hover {
      box-shadow: 0 2px 0 0 darken($color-deep-cerulean, 10%);
    }
  }

  &--caret {
    &:after {
      content: '\203a';
      position: relative;
      left: 0;
      padding-left: 5px;
      padding-right: 1px;
      transition: left 0.2s;
    }

    &:hover:after {
      left: 3px;
    }
  }

  &--left-caret {
    &:before {
      content: '\2039\00a0';
      position: relative;
      left: 0;
      padding-right: 5px;
      padding-left: 1px;
      transition: left 0.2s;
    }

    &:hover:before {
      left: -3px;
    }
  }
}
