@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~susy/sass/susy';
@import './breakpoints';

.u-container {
  @include container(960px);
}

.u-margin-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-margin-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-margin-b-50 {
  margin-bottom: 50px;
}

.u-invisible {
  display: none;
}

.u-hidden {
  &--all-but-xl {
    @include breakpoint($all-but-xl) {
      display: none!important;
    }
  }

  &--xl {
    @include breakpoint($extra-large) {
      display: none!important;
    }
  }
}

.u-visible {
  &--all-but-xl {
    @include breakpoint($extra-large) {
      display: none!important;
    }
  }
}

.u-responsive-break {
  @include breakpoint($all-small) {
    display: block;
  }
}
