<div class="secret-list">
  <div
    *ngIf="showCreate"
    class="secret-list-item"
    [class.secret-list-item--is-active]="showCreate">
    <group-add
      [contacts]="contacts"
      (hideAddSecretForm)="hideAddSecretForm.emit()"
      (saveNew)="saveNew.emit($event)"
    ></group-add>
  </div>
  <div
    *ngFor="let group of groups"
    class="secret-list-item"
    [class.secret-list-item--is-active]="group.id === groupManaged">
    <group-detail
      [active]="group.id === groupManaged"
      [group]="group"
      (groupSelected)="onGroupWasSelected($event)"
    ></group-detail>
    <group-form
      *ngIf="group.id === groupManaged"
      [group]="group"
      [contacts]="contacts"
      [isNew]="false"
      (save)="save.emit($event)"
      (delete)="delete.emit($event)"
      class="secret-form secret-form--is-active">
    </group-form>
  </div>
</div>
