@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

.auth-form {
  min-width: 320px;
  margin-top: 50px;
  margin-bottom: 20px;

  &__subheading {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
  }

  &__form {
    margin: 50px 0;

    @include breakpoint($all-small) {
      margin: 25px 0;
    }
  }

  &__actions {
    position: relative;
  }

  &__errors {
    margin: 0 -15px 20px;
    padding: 13px 15px 11px;
    background-color: $color-onahau;
    border: 1px solid $color-deep-cerulean;
  }

  &__note {
    margin-top: 25px;
    color: $color-thunder;
    line-height: 1.5;
  }
}
