<div class="auth-form l-container-narrow">
  <h2 class="auth-form__heading heading-main">Sign up for Passit</h2>
  <p class="auth-form__subheading">
    Secure your passwords in a few easy&nbsp;steps.
  </p>

  <form #registerForm="ngForm"
    (ngSubmit)="onSubmit(registerForm.value)"
    class="auth-form__form"
    novalidate>

    <div class="auth-form__errors" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="form-field form-field--large">
      <label for="userEmail" class="form-field__label">Email</label>
      <input type="email"
        id="userEmail"
        name="email"
        class="form-field__input"
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
        required
        ngModel>
    </div>

    <div class="form-field form-field--large">
      <label for="userPassword" class="form-field__label">Password</label>
      <input type="password"
        id="userPassword"
        name="password"
        class="form-field__input"
        required
        ngModel
        (focus)="focusPasswordToggle(true)">
      <div class="form-field__note" [@flyInOut]="true" *ngIf="passwordFocused">
        You will not be able to recover your master password if you forget it. Pick a good one, but make sure you remember it!
      </div>
    </div>

    <div *ngIf="showServer" class="form-field form-field--large">
      <label for="userUrl" class="form-field__label">Server URL</label>
      <input type="url"
        id="userUrl"
        name="url"
        class="form-field__input"
        ngModel>
      <span>Your company's private Passit url. For example passit.mycompany.com</span>
    </div>

    <div class="auth-form__actions">
      <button
        class="button button--large button--green"
        [disabled]="hasRegisterStarted"
        type="submit">
        Sign up
      </button>

      <progress-indicator
        [inProgress]="hasRegisterStarted"
        inProgressText="Creating account"
        [completed]="hasRegisterFinished"
        completedText="Account created"></progress-indicator>
    </div>

    <div class="auth-form__note" [@flyInOut]="true" *ngIf="hasRegisterStarted">
      We’re currently securing your account with your password. This takes a little time, so don’t navigate away. Once you're logged in, things will move a lot more quickly.
    </div>
  </form>
    
  <div class="auth-form__subheading" *ngIf="!hasRegisterStarted && !hasRegisterFinished">
    Already registered? <a class="text-link text-link--caret text-link--large" id="btn-signup" href="javascript:void(0)" (click)="toggleDisplay()">Log in</a>
  </div>
</div>
