<div class="hotlist">
  <a *ngIf="secret.data['url']" href="javascript:void(0)" class="hotlist__item" (click)="onSignIn.emit()">
    <div class="hotlist__icon" [inlineSVG]="'../../../assets/svg/external-link.svg'"></div>
    Sign In
  </a>
  <a *ngIf="secret.data['username']" href="javascript:void(0)" class="hotlist__item" (click)="onCopyUsername.emit()">
    <div class="hotlist__icon" [inlineSVG]="'../../../assets/svg/user.svg'"></div>
    Copy Username
  </a>
  <a *ngIf="secret.secret_through_set[0].data['password']" href="javascript:void(0)" class="hotlist__item" (click)="onCopyPassword.emit()">
    <div class="hotlist__icon" [inlineSVG]="'../../../assets/svg/asterisk.svg'"></div>
    Copy Password
  </a>
  <a href="javascript:void(0)" class="hotlist__item" (click)="onDetail.emit()">
    <div class="hotlist__icon" [inlineSVG]="'../../../assets/svg/list.svg'"></div>
    Details
  </a>
</div>
