<div class="popup">
  <div (click)="openFullApp.emit()" class="popup__header">
    <div class="popup__logo" [inlineSVG]="'../../../assets/svg/passit-logo.svg'"></div>
  </div>
  <a
    class="popup__full-app-link"
    href="javascript:void(0)"
    tooltip="Open full app"
    tooltipPlacement="right"
    (click)="openFullApp.emit()">
    <div class="popup__full-app-icon" [inlineSVG]="'../../../assets/svg/full-app.svg'"></div>
  </a>
  <search
    [query]="search"
    (searchTerm)="searchUpdate.emit($event)"
    class="popup__search"></search>
  <div *ngFor="let secret of secrets">
    <div class="popup__list-item">
      <h3
        (click)="setSelected.emit(secret.id)"
        class="popup__title">
          {{ secret.name }}
          <span class="popup__username">{{ secret.data.username }}</span>
      </h3>
      <app-popup-hotlist
        *ngIf="secret.isSelected"
        [secret]="secret" 
        (onSignIn)="onSignIn.emit(secret)"
        (onCopyUsername)="onCopyUsername.emit(secret)"
        (onCopyPassword)="onCopyPassword.emit(secret)"
        (onDetail)="onDetail.emit(secret)">
      </app-popup-hotlist>
    </div>
  </div>
</div>
