@import '../../../assets/scss/colors';

.popup {
  width: 350px;
  height: 477px;
  position: relative;
  overflow-y: auto;
  // border: 1px solid $color-matterhorn;

  &__header {
    background-color: $color-deep-cerulean;
    background: linear-gradient(to bottom, #009ab0, $color-deep-cerulean);
    padding: 8px 0;
  }

  &__logo {
    width: 65px;
    height: 26px;
    margin: 0 auto;
    fill: $color-white;
  }

  &__full-app-link {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    padding: 6px;

    &:hover {
      .popup__full-app-icon {
        transform: scale(1.1);
      }
    }
  }

  &__full-app-icon {
    width: 24px;
    height: 24px;
    fill: $color-white;
    transform: scale(1);
    transition: transform 0.2s, color 0.2s;
  }

  &__search {
    display: block;
    margin: 20px 15px 35px;
  }

  &__list-item {
    display: block;
    position: relative;
    margin-top: -1px;
    border-top: 1px solid $color-botticelli;
    border-bottom: 1px solid $color-botticelli;
    box-shadow: inset 0 0 0 0 rgba($color-thunder, 0.2), inset 0 0 0 0 rgba($color-thunder, 0.2);
  }

  &__title {
    margin: 2px 0 0;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  &__username {
    font-size: 12px;
    font-weight: 300;
    padding-left: 6px;
  }
}
