@import '../../../assets/scss/colors';

.hotlist {
  display: flex;

  &__item {
    flex: 1;
    padding: 3px 0 10px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: $color-thunder;
    transform: translateY(0);
    transition: transform 0.2s, color 0.2s;

    &:hover {
      transform: translateY(-1px);
      color: $color-de-york;

      .hotlist__icon {
        fill: $color-de-york;
        transform: scale(1.2) translateY(-1px);
      }
    }

  }

  &__icon {
    width: 18px;
    height: 18px;
    margin: 0 auto 7px;
    fill: $color-thunder;
    transform: scale(1) translateY(0);
    transform-origin: bottom center;
    transition: transform 0.2s, fill 0.2s;
  }
}
