<div class="auth-form l-container-narrow">
  <h2 class="auth-form__heading heading-main">Log in to Passit</h2>

  <form #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm.value)"
    class="auth-form__form">

    <div class="auth-form__errors" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="form-field form-field--large">
      <label for="userEmail" class="form-field__label">Email</label>
      <input type="email"
        id="userEmail"
        name="email"
        class="form-field__input"
        ngModel>
    </div>

    <div class="form-field form-field--large">
      <label for="userPassword" class="form-field__label">Password</label>
      <input type="password"
        id="userPassword"
        name="password"
        class="form-field__input"
        ngModel>
    </div>

    <div *ngIf="showServer" class="form-field form-field--large">
      <label for="userUrl" class="form-field__label">Server URL</label>
      <input type="url"
        id="userUrl"
        name="url"
        class="form-field__input"
        ngModel>
      <span>Your company's private Passit url. For example passit.mycompany.com</span>
    </div>

    <div class="auth-form__actions">
      <button
        class="button button--large button--green"
        [disabled]="hasLoginStarted"
        type="submit">
        Log in
      </button>

      <progress-indicator
        [inProgress]="hasLoginStarted"
        inProgressText="Logging In"
        [completed]="hasLoginFinished"
        completedText="Logged In"></progress-indicator>
    </div>

  </form>

  <div class="auth-form__subheading">
    Not signed up? <a class="text-link text-link--caret text-link--large" id="btn-signup" href="javascript:void(0)" (click)="toggleDisplay()">Register</a>
  </div>

</div>
