<div class="list-actions">

  <search
    (searchTerm)="searchUpdate.emit($event)"
    class="list-actions__search"></search>

  <div class="list-actions__title u-hidden--xl">
    Passwords
  </div>

  <div class="list-actions__actions">
    <button
      type="button"
      class="button button--gray"
      id="add-new-password-button"
      (click)="showAdd()">
      <div class="button__icon" [inlineSVG]="'../assets/svg/plus.svg'"></div>
      Add New <span class="u-hidden--all-but-xl">Password</span>
    </button>
  </div>

</div>

<div class="secret-list" #secretList>
  <div
    *ngIf="showCreate"
    class="secret-list-item"
    [class.secret-list-item--is-active]="animateAddForm">
    <secret-add
      [groups]="groups"
      (hideAddSecretForm)="hideAdd()"
      (save)="secretAddSave.emit($event)"
    ></secret-add>
  </div>
  <div 
    *ngFor="let secret of secrets"
    class="secret-list-item"
    id="secret-list-item--{{ secret.id }}"
    [class.secret-list-item--is-active]="secret.id === secretManaged">
    <secret-row 
      [secret]="secret"
      [active]="secret.id === secretManaged"
      (onSecretSelected)="onSecretWasSelected($event)">
    </secret-row>
    <secret-form
      *ngIf="secret.id === secretManaged"
      [dbSecret]="secret"
      [groups]="groups"
      [finishedUpdating]="finishedUpdating"
      (saveSecret)="saveSecret.emit($event)"
      (deleteSecret)="deleteSecret.emit($event)"
      class="secret-form"
      [class.secret-form--is-active]="secretAnimated"
    ></secret-form>
  </div>
</div>
