@import '~breakpoint-sass/stylesheets/breakpoint';
@import 'node_modules/susy/sass/susy';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/colors';

$open-animation-duration: 0.5s;

.list-actions {
  @include container(960px);
  z-index: 1;

  @include breakpoint($all-but-xl) {
    padding: 0 15px;
  }

  &__search {
    @include span(9 of 12);

    @include breakpoint($all-small) {
      @include span(12 of 12);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;

    @include breakpoint($all-but-xl) {
      @include span(6 of 12);
      margin-top: 7px;
    }
  }

  &__actions {
    @include span(3 of 12 last);
    margin-bottom: 10px;
    text-align: right;

    @include breakpoint($all-small) {
      @include span(6 of 12 last);
    }
  }
}

.secret-list {
  margin: 20px auto;
}

.secret-list-item {
  display: block;
  position: relative;
  margin-top: -1px;
  padding-top: 0;
  border-top: 1px solid $color-botticelli;
  border-bottom: 1px solid $color-botticelli;
  box-shadow: inset 0 0 0 0 rgba($color-thunder, 0.2), inset 0 0 0 0 rgba($color-thunder, 0.2);
  transition: padding $open-animation-duration, background-color $open-animation-duration / 4, box-shadow $open-animation-duration;

  &:hover {
    background-color: #f0fdfc;
  }

  &--is-active {
    border: 0;
    padding: 15px 0 75px;
    background-color: #f4fcf7;
    box-shadow: inset 0 7px 8px -7px rgba($color-thunder, 0.2), inset 0 -7px 8px -7px rgba($color-thunder, 0.2);
    z-index: 10;

    &:hover {
      background-color: #f4fcf7;
    }
  }
}

.secret-form {
  display: block;
  height: 0;
  opacity: 0;
  transform: translateY(-40px);
  transition: transform $open-animation-duration, opacity $open-animation-duration;

  &--is-active {
    height: auto;
    margin-bottom: -75px;
    opacity: 1;
    transform: translateY(0);
    z-index: 10;
  }
}
