<div class="account l-container-narrow u-margin-tb-50">

  <a class="text-link text-link--left-caret heading-back-link" [routerLink]=" ['/account'] ">Account Management</a>
  
  <h2 class="heading-main heading-main--pad-bottom">
    Change Account Password
  </h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-field form-field--large">
      <label for="password" class="form-field__label">New Password</label>
      <input type="{{ showConfirm ? 'password' : 'text' }}"
        id="password"
        class="form-field__input form-field__input--one-action"
        [class.form-field__input--invalid]="formErrors.password.length > 0 && submitted"
        name="password"
        autocomplete="off"
        formControlName="password"
        required />
        <div class="form-field__actions">
          <button type="button"
            (click)="toggleConfirm()"
            class="form-field__action">
            <div class="button__icon button__icon--no-text" [inlineSVG]="showConfirm ? '../assets/svg/eye.svg' : '../assets/svg/eye-slash.svg'"></div>
          </button>
        </div>
    </div>

    <ul *ngIf="formErrors.password && submitted" class="form-field__error-list">
      <li *ngFor="let error of formErrors.password" class="form-field__error">
        {{ error }}
      </li>
    </ul>

    <div class="form-field form-field--large" *ngIf="showConfirm">
      <label for="password" class="form-field__label">Confirm Password</label>
      <input type="password"
        id="passwordConfirm"
        class="form-field__input"
        [class.form-field__input--invalid]="formErrors.passwordConfirm.length > 0 && submitted"
        name="passwordConfirm"
        formControlName="passwordConfirm"
        required />
    </div>

    <ul *ngIf="formErrors.passwordConfirm.length && submitted && showConfirm" class="form-field__error-list">
      <li *ngFor="let error of formErrors.passwordConfirm" class="form-field__error">
        {{ error }}
      </li>
    </ul>

    <div class="change-password__actions">

      <button type="submit" class="button button--primary" [disabled]="hasStarted">
        Change Password
      </button>

      <progress-indicator
        [inProgress]="hasStarted" 
        inProgressText="Saving"
        [completed]="hasFinished"
        completedText="Saved"></progress-indicator>

    </div>

    <div class="change-password__note" [@flyInOut]="true" *ngIf="hasStarted">
      We’re currently changing your password. This takes a little while, so don’t navigate away.
    </div>
  </form>
</div>
