@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~susy/sass/susy';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/colors';

@keyframes progress-ish {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.secret {
  display: block;
  max-width: 960px;
  margin: 0 auto;

  @include breakpoint($all-but-xl) {
    padding: 0 15px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.5s;
  }

  &--is-saving:after {
    background-color: #6bd1ef;
    transform-origin: left;
    animation: progress-ish 3s linear infinite;
  }

  &--is-saved:after {
    background-color: $color-de-york;
  }

  &__heading {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 2px 0 0;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &--add {
      display: block;
      max-width: 960px;
      margin: 0 auto;

      @include breakpoint($all-but-xl) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--is-active {
      cursor: default;
    }
  }

  &__input {
    &--mask {
      color: $color-tiara;
    }
  }

  &__button {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &__details {
    @include container;
    position: relative;
    padding: 20px 0;
  }

  &__field {
    @include span(6 of 12);
    margin-bottom: 20px;

    @include breakpoint($all-small) {
      @include span(12 of 12);
    }

    &--last {
      margin-right: 0;
    }

    &--full {
      @include span(12 of 12);
    }
  }

  &__buttons {
    @include span(12 of 12);
    text-align: right;
    // This only exists because of the :enter animation; it was jumping without this
    // But animations was buggy as of 4.0.1, so this might not be necessary someday
    height: 44px;
  }

  // This only exists because of the :enter animation; it was jumping without this
  // But animations was buggy as of 4.0.1, so this might not be necessary someday
  &__ng-select {
    height: 32px;
  }

  &__add-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
