@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~susy/sass/susy';
@import '../../assets/scss/breakpoints';

.account {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin: 20px 0;
    font-size: 20px;
  }

  &__item-heading {
    display: inline;
    margin: 0 0 3px;
    font-weight: 400;
  }
}
