<div class="secret secret--add">
  <form #addGroup="ngForm"
    (ngSubmit)="onSubmit()"
    class="secret__details">

    <div class="form-field secret__field">
      <label for="name">Name: </label>
      <input type="text"
        id="nameInput"
        class="form-field__input"
        name="name"
        required
        maxlength="1000"
        [(ngModel)]="groupForm.name"
      />
    </div>

    <div class="form-field secret__field">
      <label for="membersInput" class="form-field__label secret__label">
        Members
      </label>
      <ng-select
        id="membersInput"
        name="updateMembers"
        [options]="memberOptions"
        multiple="true"
        [(ngModel)]="groupForm.members"
      >
      </ng-select>
    </div>

    <div class="secret__buttons">
      <button
        *ngIf="!isNew"
        class="button button--text button--text-danger group-form__delete-btn"
        type="button"
        (click)="onDelete()">
        Delete Group
      </button>
      <button
        *ngIf="isNew"
        class="button button--text button--text-danger group-form__cancel-btn"
        type="button"
        (click)="hideAddSecretForm.emit()">
        Cancel
      </button>

      <button type="submit" class="button button--primary group-form__save-btn">
        Save Group
      </button>
    </div>
  </form>
</div>
